<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>

	<connectionStrings>
		<add name="form" connectionString ="Data Source=DANIEL-PC\SQLEXPRESS; Initial Catalog=Form; Persist Security info=True; User ID=sa; Password='123'; MultipleActiveResultSets=True; Connect Timeout=300" providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>